<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Teszt</h1>
    <% for(let character of characters) { %>
        <h1 style="background-color: <%= character.species === 'Human' ? 'red' : 'blue' %>">
            <%= character.name %>
        </h1>
    <% } %>
</body>
</html>